@import "./variables";

@mixin animation-fade-in {
  animation: fade-in $animationDelay;
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

@mixin animation-highlight {
  animation: highlight $animationDelay;
}

@keyframes highlight {
  from { background: $colorPrimary }
  to { background: inherit }
}