@import "./variables";
@import "./mixins";

@mixin animation-show {
  animation: show $animationDelay;
}

@mixin animation-fade-in {
  animation: fade-in $animationDelay;
}

@mixin animation-success {
  animation: highlight-success $animationDelay;
}

@mixin animation-error {
  animation: highlight-error $animationDelay;
}

@mixin animation-spin {
  animation: spin $animationDelay linear infinite;
}

@keyframes show {
  from { @include hide }
  to { }
};

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes highlight-success {
  from { background: $colorPrimary }
  to { background: inherit }
}

@keyframes highlight-error {
  from { background: $colorError }
  to { background: inherit }
}

@keyframes spin {
  from { transform: rotate(0deg) }
  to { transform: rotate(360deg) }
}