@import "./variables";

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: $primaryFontFamily;
}

body {
  background: $colorBackground;
  color: $colorDark;
  font-style: $primaryFontFamily;
  margin: 0;
  padding: 0;
}

input[type="text"] {
  font-weight: bold;
}

input[type="text"],
textarea {
  background: inherit;
  border: none;
  width: 100%;
}

input[type="text"]:focus,
textarea:focus {
  outline: none;
}

textarea {
  font-size: 100%;
  overflow: hidden;
  resize: none;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: $minSize;
  @include box-shadow;

  .navLink {
    background: $colorSecondary;
    color: $colorBackground;
    font-size: 150%;
    text-decoration: none;
    transition: 0.25s;
    user-select: none;
    @include center-children;
  }

  .navLinkActive {
    background: $colorBackground;
    color: $colorBackground;
    text-shadow: 2px 2px $colorTertiary;
  }
}

.main {
  position: fixed;
  width: 100%;
  height: calc(100% - #{$minSize});
}