@import "./variables";
@import "./mixins";

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: $primaryFontFamily;
}

body {
  background: $colorBackground;
  margin: 0;
  padding: 0;
}

input[type="text"] {
  border: none;
  background: $colorBackground;
  width: 100%;
}

input[type="text"]:focus {
  outline: none;
}

.footer {
  position: fixed;
  bottom: 0;
  height: $navHeight;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  @include box-shadow;

  .navLink {
    background: $colorSecondary;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $colorBackground;
    font-size: 150%;
    text-decoration: none;
    transition: 0.25s;
    user-select: none;
  }

  .navLinkActive {
    background: $colorBackground;
    color: $colorBackground;
    text-shadow: 1px 1px $colorDark;
  }
}

.main {
  position: fixed;
  height: calc(100% - #{$navHeight});
  width: 100%;
  overflow: scroll;
}