@import "./animations";
@import "./variables";
@import "./mixins";

.card {
  position: relative;
  width: 100%;
  min-height: 5rem;
  padding: $bufferLg;
  transition: $animationDelay;

  .body {
    position: relative;
    display: flex;
    align-items: center;
  }

  .footer {
    text-align: right;
    line-height: 3rem;
    height: 3rem;
    @include opacity-faded;

    i {
      font-size: 80%;
      color: $colorTertiary;
    }
  }

  &.success {
    @include animation-success;
  }

  &.error {
    @include animation-error;
  }

  &.hidden {
    padding-top: 0;
    padding-bottom: 0;
    height: 0;
    min-height: 0;
  }
}