@import "./animations";
@import "./variables";
@import "./mixins";

.card {
  position: relative;
  width: 100%;
  min-height: 5rem;
  padding: $bufferLg;
  transition: $animationDelay;

  .body {
    min-height: $standardHeight;
    position: relative;
    display: flex;
    align-items: center;
  }

  .footer {
    text-align: right;
    line-height: $standardHeight;
    height: $standardHeight;
    @include opacity-faded;

    i {
      color: $colorTertiary;
    }
  }

  &.success {
    @include animation-success;
  }

  &.error {
    @include animation-error;
  }

  &.new {
    @include animation-show;
  }

  &.hide {
    @include animation-hide;
  }

  &.hidden {
    @include hide;
  }
}
