@import "./variables";
@import "./mixins";

.card {
  position: relative;
  width: 100%;
  min-height: 5rem;
  padding: $bufferLg;

  .cardBody {
    position: relative;
    display: flex;
    align-items: center;
  }

  .cardFooter {
    text-align: right;
    height: 1.5rem;
    @include opacity-faded;

    i {
      font-size: 80%;
    }
  }
}