@import "./variables";

@mixin box-shadow {
  box-shadow: 0 1px 5px $colorDark;
}

@mixin center-children {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin decorated-text {
  font-family: $fancyFontFamily;
  letter-spacing: 2px;
}

@mixin hide {
  padding-top: 0;
  padding-bottom: 0;
  height: 0;
  min-height: 0;
  opacity: 0;
};

@mixin opacity-faded {
  opacity: 0.6;
}

@mixin top-gradient {
  background: linear-gradient(to top, $colorBackground 10%, darken($colorBackground, 5%));
}
