@import "./variables";
@import "./animations";

@mixin box-shadow {
  box-shadow: 0 1px 5px $colorDark;
}

@mixin center-children {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin decorated-text {
  font-family: $fancyFontFamily;
  letter-spacing: 2px;
}

@mixin opacity-faded {
  opacity: 0.6;
}

@mixin fade-in($duration: 2s) {
  animation: fade-in #{$duration};
}