// COLORS
$colorBackground: #F7F9FB;
$colorPrimary: #8FC1E3;
$colorSecondary: #5085A5;
$colorTertiary: #31708E;
$colorDark: #687864;
$colorError: #FF6961;

// FONTS
$primaryFontFamily: 'Open Sans', sans-serif;
$fancyFontFamily: 'Roboto', sans-serif;

// SIZES
$bufferSm: 4px;
$bufferMd: 12px;
$bufferLg: 24px;

$minSize: 3rem; // recommended width + height for touch input

// ANIMATIONS
$animationDelay: 0.5s;


@mixin box-shadow {
  box-shadow: 0 0 5px 1px $colorDark;
}

@mixin center-children {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin animation-error-flash {
  animation: error-flash $animationDelay;
}

@keyframes error-flash {
  0% {
    background: inherit;
  }

  50% {
    background: $colorError;
  }

  100% {
    background: inherit;
  }
}