$colorBackground: #F7F9FB;
$colorPrimary: #8FC1E3;
$colorSecondary: #5085A5;
$colorTertiary: #31708E;
$colorDark: #687864;

$colorError: #FF6961;

$primaryFontFamily: 'Montserrat', sans-serif;
$fancyFontFamily: 'Roboto', sans-serif;

$bufferSm: 4px;
$bufferMd: 12px;
$bufferLg: 24px;

$standardHeight: 3rem; // recommended width + height for touch input

$animationDelay: 1s;