@import "./variables";
@import "./mixins";
@import "./animations";

.view {
  @include animation-fade-in;

  .header {
    display: grid;
    grid-template-columns: $navHeight 1fr $navHeight;
    position: fixed;
    height: $navHeight;
    line-height: $navHeight;
    width: 100%;
    @include top-gradient;

    .navIcon,
    .button {
      color: $colorSecondary;
      font-size: 120%;
      @include center-children;
    }

    .navText {
      line-height: $navHeight;
      @include decorated-text;
    }
  }

  .body {
    position: absolute;
    top: $navHeight;
    height: calc(100% - #{$navHeight});
    width: 100%;
    overflow: scroll;
  }

}