@import "./variables";
@import "./mixins";
@import "./animations";

.view {
  @include animation-fade-in;

  .header {
    display: grid;
    grid-template-columns: $standardHeight 1fr $standardHeight;
    position: fixed;
    height: $standardHeight;
    line-height: $standardHeight;
    width: 100%;
    @include top-gradient;

    .navIcon,
    .button {
      color: $colorSecondary;
      font-size: 120%;
      @include center-children;
    }

    .navText {
      line-height: $standardHeight;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      font-weight: bold;
      font-size: 120%;
      @include opacity-faded;
      @include decorated-text;
    }
  }

  .body {
    position: absolute;
    top: $standardHeight;
    height: calc(100% - #{$standardHeight});
    width: 100%;
    overflow: scroll;
  }

}