@import "../../styles/variables";

.card {
  width: 100%;
  transition: background-color $animationDelay, height $animationDelay;
  overflow-x: hidden;

  &.isDeleted {
    height: 0;
    overflow: hidden;
  }

  &.isError {
    @include animation-error-flash;
  }

  .body {
    position: relative;
    min-height: $minSize;
    padding: $bufferLg;
  }

  .footer {
    position: relative;
    width: 100%;

    .footerRow {
      position: relative;
      height: $minSize;

      .errorRow {
        display: grid;
        grid-template-columns: $minSize 1fr;
        position: absolute;
        right: 0;
        line-height: $minSize;

        .errorMessage {
          font-size: 90%;
          opacity: 0.8;
          padding-right: $bufferMd;
        }
      }

      .buttonOpenOptions,
      .passiveOptions,
      .options {
        position: absolute;
        height: 100%;
        @include center-children;
      }

      .buttonOpenOptions {
        width: $minSize;
        left: $bufferMd;
        transition: transform $animationDelay;

        &.optionsActive {
          transform: rotate(-90deg);
          color: $colorSecondary;
        }
      }

      .passiveOptions {
        right: $bufferMd;
        transition: right $animationDelay;

        i {
          margin-right: -1rem;
          color: $colorSecondary;
        }

        &.optionsActive {
          right: calc(-100% + #{$bufferMd});
        }
      }

      .options {
        right: calc(-100% + #{$bufferMd});
        transition: right $animationDelay;

        &.optionsActive {
          right: $bufferMd;
        }

        .active {
          color: $colorSecondary;
        }
      }
    }
  }
}

@media screen and (min-width: $mobileBreakpoint) {
  .card {
    .body {
      padding: $bufferXl;
    }

    .footer {
      .footerRow {
        .buttonOpenOptions {
          left: $bufferLg;
        }
      }
    }
  }
}