@import "../../styles/variables";

.quoteLeft,
.quoteRight {
  position: absolute;
  font-size: 80%;
  opacity: 0.8;
}

.quoteLeft {
  top: $bufferMd;
  left: $bufferSm;
}

.quoteRight {
  right: $bufferSm;
  bottom: $bufferMd;
}

.errorRow {
  display: grid;
  grid-template-columns: $minSize 1fr;
  position: absolute;
  right: 0;
  line-height: $minSize;

  .errorMessage {
    font-size: 90%;
    opacity: 0.8;
    padding-right: $bufferMd;
  }
}