@import "../../styles/variables";

.quoteLeft,
.quoteRight {
  position: absolute;
  font-size: 80%;
  opacity: 0.8;
}

.quoteLeft {
  top: $bufferMd;
  left: $bufferSm;
}

.quoteRight {
  right: $bufferSm;
  bottom: $bufferMd;
}

@media screen and (min-width: $mobileBreakpoint) {
  .quoteLeft {
    left: $bufferMd;
  }

  .quoteRight {
    right: $bufferMd;
  }
}