@import "../../styles/variables";

.view {
  display: grid;
  grid-template-rows: $minSize 1fr;
  height: 100%;
  position: relative;

  .header {
    display: grid;
    grid-template-columns: $minSize 1fr $minSize;
    background: linear-gradient(to top, $colorBackground 5%, darken($colorBackground, 5%));

    i {
      color: $colorSecondary;
    }

    .headerTitle {
      font-family: $fancyFontFamily;
      font-size: 120%;
      line-height: $minSize;
      letter-spacing: 4px;
    }
  }

  .body {
    overflow-y: scroll;
  }
}