@import "../../../styles/variables";

.icon {
  height: $minSize;
  width: $minSize;
  @include center-children;
  transition: transform $animationDelay;

  &.error {
    color: $colorError;
  }

  &.rotated {
    transform: rotate(135deg);
  }
}